header img {
    border-radius: 100%;
    max-height: 400px;
}

.portfolio {
    width: 80%;
    margin: 0 auto;
}

@media (max-width: 500px){
    header img {
        padding: 25px;
        max-height: 350px;
    }
}